.bg-nav{
    /* background-color: #F8CBCE; */
    background-color: #abb7b7;
    box-shadow: 1px 3px 15px #b6ecf775;
}
.bg-trans{
    background-color: transparent;
}
.nav-link{
    margin: 0 0.6rem;
    padding: 0.6rem 0.8rem !important;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #0dcaf000 !important;
    color: rgba(0, 0, 0, 0.801) !important;
    /* color: white !important; */
    letter-spacing: 0.05rem;
}
.nav-link:hover{
    background-color: #96dbe94d;
    border: 1px solid #0dcaf0 ;
}
.selected{
    background-color: #78d9ecee;
    border: 1px solid #0dcaf0 ;
    color: #f22613 !important;
}

.dropdown-toggle{
    display: flex !important;
    padding: 0.1rem 0.4rem !important;
    margin: 0 0.6rem;
}

.special-link-style{
    padding: 0.1rem 0.4rem !important;
}

.dropdown-item{
    padding: .25rem .6rem !important;
}
.dropdown-menu[data-bs-popper]{
    left: -15px !important;
}
@media screen and (max-width:767px) {
    .link-style{
        margin-top: 8px;
    }
    .bg-trans{
        background-color: #abb7b7;
        box-shadow: 1px 3px 15px #b6ecf775;
    }
}